.debug {

    * {
        border: 1px solid black;
    }

    header {
        height: 100px;
    }

    .container {
        background-color: pink;
        min-width: 80px;
        min-height: 30px;
    }

    section {
        background-color: purple;
        min-height: 300px;
        padding: 1rem;
    }

    .product-card {
        width: 100px;
        max-height: 100%;
    }
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

ul {
    padding: 0;
    gap: 10px;
    color: var(--dis-white);
}

img {
    max-width: 100%;
}

.logo {
    max-width: 10%;
}

/* colors */

:root {
    --header: #FF6900;
    --nav-links: white;
    --discounted: red;
    --sustainability: green;
    --footer-color: #1a1a01;
}

/* commons */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* commons - end */

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
}

a {
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.list-unstyled {
    list-style: none;
}

header {
    background-color: var(--header);
}

.links {
    gap: 20px;

    a {
        color: var(--nav-links);
    }
}


/* main */

.product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    position: relative;

    img {
        margin-top: 10px;
    }
}

.product-info {
    p {
        margin: 0;

        &.name {
            text-transform: uppercase;
            font-weight: bolder;
        }

        .current-price {
            font-weight: bolder;
            color: var(--discounted);
        }

        .discounted-price {
            text-decoration: line-through;
        }
    }
}

.heart-icon {
    position: absolute;
    top: 20px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badges {
    font-size: smaller;
    position: absolute;
    bottom: 80px;
    gap: 3px;
    color: white;
    font-weight: 500;
}

.badge-discount {
    background-color: var(--discounted);
    padding: 4px 6px;
}

.badge-sustainability {
    background-color: var(--sustainability);
    padding: 4px 8px;
}

/* footer */

footer {
    background-color: var(--footer-color);
    color: white;
}

.social {
    a {
        margin: 5px;
    }
}

.product-card {
    img.back {
        display: none;
    }
    &:hover img.front {
        display: none;
    }
    &:hover img.back {
        display: block;
    }
}